<!-- templates/edit.html -->
{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
<div class="container mx-auto p-6 pb-10">
    <h2 class="text-3xl font-bold pb-5">Edit Product</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="mb-4 text-{{ 'red' if category == 'danger' else 'green' }}-600">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="pb-5 font-bold">
        <span class="text-red-600">*</span> indicates required field
    </div>
    
    <form method="POST">
        <input type="hidden" value="{{ product.productId }}"/>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Product No.<span class="text-red-600">*</span></label>
            <input type="text" id="productNo" name="productNo" required class="w-full px-3 py-3 border rounded"
            value="{{ product.productNo }}" />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Product Name<span class="text-red-600">*</span></label>
            <input type="text" id="productName" name="productName" required class="w-full px-3 py-3 border rounded"
            value="{{ product.productName }}" />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Manufacturer<span class="text-red-600">*</span></label>
            <input type="text" id="manufacturer" name="manufacturer" required class="w-full px-3 py-3 border rounded"
            value="{{ product.manufacturer }}" />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Batch No.<span class="text-red-600">*</span></label>
            <input type="text" id="batchNo" name="batchNo" required class="w-full px-3 py-3 border rounded"
            value="{{ product.batchNo }}" />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Quantity<span class="text-red-600">*</span></label>
            <input type="number" id="quantity" name="quantity" required class="w-full px-3 py-3 border rounded" min="0"
            value="{{ product.quantity }}" />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Category<span class="text-red-600">*</span></label>
            <select id="categoryId" name="categoryId" required class="w-full px-3 py-3 border rounded">
                {% for category in categories %}
                <option value="{{ category.categoryId }}" {% if product.categoryId == category.categoryId %}selected{% endif %}>{{ category.categoryName }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Manufactured Date</label>
            <input type="date" id="mfgDate" name="mfgDate" class="w-full px-3 py-3 border rounded"
            value="{{ product.mfgDate }}" />
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold">Expiry Date</label>
            <input type="date" id="mfgExpiryDate" name="mfgExpiryDate" class="w-full px-3 py-3 border rounded"
            value="{{ product.mfgExpiryDate }}" />
        </div>
        <button type="submit" class="bg-green-500 text-white px-5 py-4 rounded hover:bg-green-600">Save Changes</button>
        <button type="button" onclick="window.location.href=`{{ url_for('index') }}`"
            class="ml-4 bg-red-500 text-white px-5 py-4 rounded hover:bg-red-600">
            Cancel
        </button>
    </form>
</div>
{% endblock %}